[submodule "libSGM"]
    path = third_party/libSGM
    url = https://github.com/fixstars/libSGM.git
[submodule "rmm"]
    path = third_party/rmm
    url = https://github.com/rapidsai/rmm.git
[submodule "stdgpu"]
    path = third_party/stdgpu
    url = https://github.com/stotko/stdgpu.git
[submodule "tinyobjloader"]
    path = third_party/tinyobjloader
    url = https://github.com/syoyo/tinyobjloader.git
